process {
    executor = 'local'
}

profiles {
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        docker.enabled = false
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        apptainer.enabled = false
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
        apptainer.enabled = false
    }
    slurm {
        process.executor = 'slurm'
        process.queue = params.slurm_queue ?: ''
        process.time = params.slurm_time ?: '24:00:00'
        process.memory = params.slurm_memory ?: '16.GB'
        process.cpus = params.slurm_cpus ?: 4
    }
}

params {
    pubmed_id = '40315330'
    outdir = './results'
}