process {
    executor = 'local'
}

profiles {
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        docker.enabled = false
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        apptainer.enabled = false
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
        apptainer.enabled = false
    }
}

params {
    pubmed_id = '40315330'
    outdir = './results'
}